.btn{
  background: #222;
  color: #fff;
  padding: 0.5em .8em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  width: 138px;
  height: 40px;
  border: none;
}

.btn:hover{
  color: #ffbb33;
}
